[Desktop Entry]
Version=1.0
Name=Thunderbird
GenericName=Mail Client
Comment=Send and receive mail with Thunderbird
Keywords=email;mail;news;reader;
Actions=compose;
Exec=thunderbird %u
Icon=thunderbird
Terminal=false
Type=Application
Categories=Application;Network;Email;
StartupNotify=true
MimeType=message/rfc822;x-scheme-handler/mailto;
X-XFCE-Source=file:///usr/share/applications/net.thunderbird.Thunderbird.desktop

[Desktop Action compose]
Name=Compose New Message
Exec=thunderbird -compose
