[Unit]
Description=Cerberix Update Check
[Timer]
OnBootSec=30min
OnUnitActiveSec=12h
RandomizedDelaySec=10min
AccuracySec=5min
[Install]
WantedBy=timers.target
